<!-- images/templates/images/upload_image.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
     <!-- Main Navbar -->
     <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Greenhouse Automaton</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'image_list' %}">Images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'print' %}">Control</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'system_info' %}">View System Information</a>  <!-- Link to system info page -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="my-4">Upload Image</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        <a href="{% url 'image_list' %}" class="btn btn-secondary mt-3">Back to Gallery</a>
    </div>
</body>
</html>
